.st-emotion-cache-7czcpc > img {
    border-radius: 10px 90px;
}

* {
    text-decoration: dashed;
}
.st-emotion-cache-1cvow4s egexzqm0{
    text-decoration: none;
}

/* #soft-skills {
    display: flex;
    justify-content: center;
    border-right: solid;
    border-right-color: gray;
    padding-left: 25px;
}

#hard-skills {
    display: flex;
    justify-content: center;
} */